# dependencies
**/node_modules/

# next.js
/.next/
/out/

# production
/build
**/dist/

# local environment files
.env*
!.env.example
!**/.env.example

# system and editor files
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# generated Prisma client
packages/db/src/generated/
